@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header,
.header__inner,
.header__menu-list,
.header__nav,
.header__registration,
.first-screen__btn-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header{
  background-color: rgba(#EDEDED, 0.05);
  min-height: 80px;
  width: 100%;
  &__logo{
    width: 220px;
    padding-bottom: 7px;
  }
  &__inner{

  }
  &__nav{
    max-width: 730px;
    width: 100%;
  }
  &__menu-list{
    max-width: 370px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
  }
  &__menu-list__link{
    color: $main_color;
  }
  &__btn--green{
    padding: 10px 8px;
    margin-left: 19px;
  }
  &__btn--transparent{
    padding: 10px 24px;
  }
  &__icon{
    margin-left: 16px;
  }
  &__menu-btn{
    display: none;
  }
}

.first-screen{
  background-color: rgba(#EDEDED, 0.05);
  min-height: 720px;
  padding-top: 25px;
  padding-bottom: 110px;
  &__content{
    padding-top: 120px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: 25px;
      right: 0;
      width: 603px;
      height: 556px;
      background-image: url('../img/first-screen-bg.svg');
    }
  }
  &__title{
    max-width: 480px;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 28px;
  }
  &__text{
    max-width: 480px;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  &__btn-box{
    max-width: 366px;
    min-height: 53px;
  }
  &__btn{
    padding: 13px 53px;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
  }
  &__btn--play{
    color: $btn_color;
    text-decoration: underline;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    padding-left: 26px;
    &::before{
      position: absolute;
      content: '';
      width: 19px;
      height: 21px;
      background-image: url('../img/play.svg');
      left: 0;
      top: 2px;
      background-size: cover;
    }
  }
}

.advantages{
  overflow-x: hidden;
  margin-bottom: 150px;
  background-color: #FFFFFF;
  &__top{
    width: 100%;
    background-color: rgba(#EDEDED, 0.05);
    padding-bottom: 60px;
  }
  &__title{
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: $main_color;
    max-width: 590px;
  }
  &__title-box{
    display: flex;
    justify-content: center;
  }
  &__title-product{
    font-weight: 800;
  }
  .advantages__bg{
    position: absolute;
    overflow-x: hidden;
    background-image: url('../img/advantages.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 2326px;
    height: 390px;
    top: 0;
    //z-index: -1;
    pointer-events: none;
  }
  &__content{
    position: relative;
    z-index: 10;
  }
  &__bottom{
    overflow-x: hidden;
    position: relative;
    min-height: 390px;
    //height: 390px;
    //position: absolute;
    //top: 0;
    //left: 0;
    //overflow-x: hidden;
    //z-index: -1;
    &::before{

    }
  }
  &__items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }
  &__btn{
    padding: 15px 29px;
    margin: 0 auto;
    display: block;
    max-width: 296px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.advantages__item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  &-img{
    display: block;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
  }
  &-title{
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
  }
  &-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
  }
}


.information{
  background-color: #FFFFFF;
  margin-bottom: 150px;
  &:nth-child(even){
    .information__inner{
      flex-direction: row-reverse;
    }
  }
  &__advantage{
    margin-bottom: 25px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content{
    max-width: 486px;
  }
  &__subtitle,  &__advantage-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  &__advantage-title{
    margin-bottom: 12px;
  }
  &__subtitle{
    margin-bottom: 8px;
  }
  &__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 25px;
  }
  &__text{
    margin-bottom: 30px;
  }
  &__advantage-text, &__text, &__list-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
  &__list-item{
    margin-bottom: 30px;
    padding-left: 65px;
    position: relative;
    &:last-child{
      margin-bottom: 0;
    }
    &::before{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 35px;
      height: 35px;
      left: 0;
    }
    &:nth-child(3n+1)::before{
      background-image: url('../img/list-1.svg');
    }
    &:nth-child(3n+2)::before{
      background-image: url('../img/list-2.svg');
    }
    &:nth-child(3n+3)::before{
      background-image: url('../img/list-3.svg');
    }
  }

}

.team{
  background-color: rgba(#EDEDED, 0.05);
  position: relative;
  padding-bottom: 150px;
  overflow-x: hidden;
  //z-index: -2;

  &-bg{
    background-color: #FFFFFF;
    position: absolute;
    background-image: url('../img/advantages.svg');
    width: 2324px;
    height: 390px;
    top: 0;
    z-index: -1;
    transform: rotate(180deg);
    pointer-events: none;
  }
  &__top{
    padding-top: 53px;
    text-align: center;
    margin-bottom: 30px;
  }
  &__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 20px;
  }
  &__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    max-width: 500px;
    margin: 0 auto;
  }
  &__item{
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    &:nth-child(4){
      justify-content: flex-end;
      margin-bottom: 54px;
    }
    &:nth-child(2){
      flex-direction: row-reverse;
      .team__item-img{
        margin-left: 16px;
        margin-right: 0;
      }
      .team__item-text{
        &::after{
          left: auto;
          right: 40px;
        }
      }
    }
    &:nth-child(3){
      flex-direction: row-reverse;
      justify-content: center;
      margin-bottom: 54px;
      .team__item-img{
        margin-left: 16px;
        margin-right: 0;
      }
      .team__item-text{
        &::after{
          left: auto;
          right: 40px;
        }
      }
    }
  }
  &__item-text{
    max-width: 345px;
    padding: 15px 20px;
    box-shadow: 0 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    z-index: 1;
    &::after{
      position: absolute;
      z-index: -1;
      //box-shadow: 0 2px 5px rgba(23, 58, 86, 0.1);
      content: '';
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background: #FFFFFF;
      left: 40px;
      bottom: -6px;
    }
  }
  &__item-img{
    margin-right: 16px;
    width: 98px;
    height: 98px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 35px;
    margin: 0 auto;
    display: block;
    max-width: 330px;
    text-align: center;
  }
}

.blog{
  padding-bottom: 150px;
  &__title{
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 8px;
  }
  &__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 33px;
  }
  &__item{
    margin-bottom: 64px;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    max-width: 348px;
    min-height: 359px;
    width: 100%;
    height: 100%;
    margin-right: 32px;
    &.active{
      transform: rotate(150deg);
    }
  }
  &__img{
    width: 346px;
    height: 185px;
  }
  &__link-img{
    display: inline-block;
    padding-bottom: 24px;
  }
  &__item-content{

  }
  &__item-links{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding: 0 24px;
    a{
      color: inherit;
      span{
        font-weight: 700;
      }
    }
  }
  &__item-title{
    padding: 12px 24px 40px 24px;
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: $main_color;
    letter-spacing: 0.5px;
    &.active{
      color: $btn_color;
    }
  }
  &__items {
    .slick-dots {
      display: flex;
      justify-content: center;
      li {
        width: 16px;
        height: 16px;
        background: #EFEFEF;
        border-radius: 50%;
        border: none;
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
        button {
          display: none;
        }
      }
      .slick-active {
        background: $btn_color;
      }
    }
  }
  &__item-inner{
    width: 370px;
    padding: 0 12px;
    //&--1{
    //  padding-left: 0;
    //}
    //&--3{
    //  padding-right: 0;
    //  padding-left: 20px;
    //}
  }
}


.price{
  padding-bottom: 150px;
  &__inner{
    text-align: center;
  }
  &__title{
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 16px;
  }
  &__subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 44px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    padding: 24px 20px 32px 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 323px;
    height: 456px;
    align-items: center;
    transition: all 0.5s;
    &.active{
      background-color: $btn_color;
    }
  }
  &__item-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: $main_color;
    margin-bottom: 12px;
    transition: all 0.5s;
    &.active{
      color: #FFFFFF;
    }
  }
  &__item-subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: $main_color;
    margin-bottom: 12px;
    transition: all 0.5s;
    &.active{
      color: #FFFFFF;
    }
  }
  &__item-price{
    font-weight: 700;
    font-size: 76px;
    line-height: 100px;
    letter-spacing: 0.2px;
    &__inner{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 154px;
      margin-bottom: 16px;
      position: relative;
      color: $btn_color;
      transition: all 0.5s;
      &.active{
        color: #FFFFFF;
      }
      &::after{
        content: '$';
        position: absolute;
        color: inherit;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.1px;
        left: 61px;
        top: 21px;
      }
      &::before{
        content: 'за месяц';
        position: absolute;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1px;
        color: #E0E0E0;
        left: 61px;
        bottom: 24px;
      }
      &--3{
        width: 183px;
        &::after, &::before{
          left: 98px;
        }
      }
    }
  }
  &__item-benefits{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: $main_color;
    letter-spacing: 0.2px;
    margin-bottom: 38px;
    transition: all 0.5s;
    &.active{
      color: #FFFFFF;
    }
  }
  &__item-benefits__text{
    margin-bottom: 16px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__btn{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.075em;
    padding: 11px 21px;
    color: #FFFFFF;
    transition: all 0.5s;
    &.active{
      background-color: #FFFFFF;
      color: $btn_color;
    }
  }
  &__btn--more{
    display: none;
  }
}

.comments{
  padding-bottom: 130px;
  &__title{
    font-weight: 700;
    font-size: 34px;
    line-height: 57px;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
  }
  &__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    max-width: 537px;
    margin: 0 auto 50px;
    span{
      display: block;
    }
  }
  &__stars{
    padding: 0;
    margin-bottom: 16px;
  }
  &__item{
    padding: 28px 26px 24px 26px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 327px;
    height: 266px;
    &--1{
      margin-right: auto;
    }
    &--2{
      margin-right: auto;
      margin-left: auto;
    }
    &--3{
      margin-left: auto;
      margin-right: 2px;
    }
  }
  &__item-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-bottom: 18px;
    text-align: left;
  }
  &__item-inform{
    display: flex;
  }
  &__item-name{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: $btn_color;
  }
  &__item-job {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
  }
  &__item-person{
    margin-left: 14px;
    text-align: left;
  }
  &__inner{
    text-align: center;
  }
}


.banner{
  padding-bottom: 150px;
  &__inner{
    max-width: 968px;
    margin: 0 auto;
    background-color: $btn_color;
    border-radius: 32px;
    display: flex;
    height: 345px
  }
  &__title{
    font-weight: 600;
    font-size: 31px;
    line-height: 151.4%;
    color: #FFFFFF;
    margin-bottom: 18px;
  }
  &__content{
    padding: 49px 14px 38px 51px;
    max-width: 506px;
  }
  &__btn{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: $btn_color;
    background-color: #fff;
    padding: 10px 35px;
    border-radius: 8px;
  }
}

.footer{
  padding-bottom: 50px;
  &__inner{
    text-align: center;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  &__logo{
    width: 203px;
    height: 30px;
  }
  &__logo-link{
    display: inline-block;
    margin-bottom: 25px;
  }
  &__social{
    margin-right: auto;
  }
  &__social-list{
    display: flex;
  }
  &__social-list__item{
    margin-right: 16px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
  }
  &__list-item__link{
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    display: inline-block;
    color: $main_color;
    &--1{
      line-height: 16px;
      margin: 9px 0;
    }
  }
  &__item{
    text-align: left;
    margin: 0 auto;
  }
  &__item--2{
    max-width: 192px;
    justify-self: flex-end;
    margin-left: auto;
    margin-right: 45px;
  }
  &__form-inner{
    max-width: 325px;
    text-align: left;
    justify-self: flex-end;
  }
  &__form-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 34px;
  }





  &__form-input{
    max-width: 325px;
    width: 100%;
    padding: 10px 15px;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    margin-bottom: 20px;
    &::placeholder{
      color: #BCD0E5;
    }
  }

  &__form-btn{
    border: none;
    padding: 8px 16px;
  }





  &__copy{
    margin: 0 auto;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }
}




@import "media";
